* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  background-color: #511abc;
  padding: 20px 10%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width: auto;
}

nav .list {
  display: flex;
  align-items: center;
  list-style: none;
}

.list li {
  margin: 0 12px;
}

.list li a {
  text-decoration: none;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.list .active,
.list a:hover {
  color: orange;
}

.list .btn {
  padding: 8px 15px;
  background-color: orange;
  border-radius: 5px;
}

.list .btn:hover{
  color: white;
  background-color: indigo;
}

.list .btn:active {
  opacity: 0.8;
}

.mobileView {
  background-color: indigo;
  border: none;
  padding: 20px 40px;

  position: absolute;
  right: 0;
  left: 0;
  top: 100px;
  z-index: 1000;
  opacity: 0;
}

.listMobile {
  text-align: center;
  list-style: none;
}

.listMobile li a {
  color: white;
  line-height: 1.8;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.listMobile .btn {
  padding: 8px 15px;
  background-color: orange;
  border-radius: 5px;
}

.listMobile li a:hover {
  color: orange;
}
.listMobile .btn:hover{
  color: white;
  background-color: indigo;
}

.header .fa-bars {
  display: none;
}

/* HERO SECTION */

#Hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4% 10%;
  gap: 50px;
}

#Hero-section .left {
  position: relative;
  width: 100%;
}

.left h1 {
  font-size: 3rem;
  color: indigo;
}

.left p {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 20px;
}

.hero-text-ctn {
  position: relative;
}

.triangle {
  position: absolute;
  left: 0;
  top: 10px;
}

.left .lines {    
  position: absolute;
  right: 1px;
  top: 15px;
}

input[type="text"] {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
}
.input {
  position: relative;
  height: 80px;
  margin-top: 4%;
  border: 1px solid gainsboro;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgb(205, 205, 205);
}

.book-service {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 30%;
}

.book-service button {
  border-radius: 10px;
  border: none;
  height: 100%;
  width: 100%;
  background-color: #5f24d4;
  color: white;
}

.arrow {
  position: absolute; 
  right: -55px;
  top: -50px;
  height: 50px;
}

/* Right Image Section */
#Hero-section .right {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* KEY SERVICES */
#key-services {
  background-color: #f4f4f4;
  margin-top: 20px;
}

#key-services .key {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

#key-services .brands {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 10%;
  padding-bottom: 4%;
  gap: 10px;
}

.brand {
  border-radius: 0.6rem;
  height: auto;
  width: 300px;
  background-color: white;
  padding: 20px;
  border: 1px solid gainsboro;
  margin-top: 1%;
}

.brands .brand h1 {
  color: #260c58;
  padding: 13px 0;
  font-size: 1.2rem;
}

.brands .brand p {
  line-height: 1.5;
  font-size: 1rem;
}

.brands .brand i {
  background-color: orange;
  padding: 0.8em;
  border-radius: 0.8rem;
  color: whitesmoke;
}

/* WHY CHOOSE US */
#why-choose-us {
  margin-top: 20px;
}

#why {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10%;
  margin-top: 1%;
  margin-bottom: 3%;
  row-gap: 25px;
  column-gap: 30px;
  grid-auto-rows: auto;
}

#why-choose-us .key h1 {
  font-size: 1.8rem;
}

#why-choose-us .key {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.why {
  height: fit-content;
  /* background-color: green; */
}

#why h1 {
  color: indigo;
  font-size: 1.4rem;
}

#why p {
  color: rgb(77, 77, 77);
  font-size: 1rem;
  padding-top: 8px;
  line-height: 1.5;
}

.nested-img {
  grid-column: 2/3;
  grid-row: 1/3;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: brown; */
} 

.nested-img img {
  width: 90%;
}


/* WHAT OUR CLIENT */
#clients {
  background-color: #f4f4f4;
  margin-top: 40px;
}

.client {
  text-align: center;
  padding-top: 40px;
}

.slideCtn {
  display: flex;
  overflow-x: scroll;

  margin: 0 9.6%;

}

.slide {
  display: flex;

  width: 50%;

  padding: 30px 0;
  padding-left: 10px;

  margin-right: 5px;
}

.slideSubCtn {
  width: 50vw;
  height: fit-content;

  box-shadow: 0 10px 25px rgb(235, 235, 235);
  border-radius: 8px;

  background-color: white;

  padding: 60px 10px;

  line-height: 1.6;

  display: flex;
  justify-content: space-evenly;
}

.slideSubCtn i {
  color: orange;
}

.slideSubCtn img {
  width: 80px;
  height: auto;
  object-fit: contain;
  
}

.textCtn {
  width: 50vw;
  padding: 0 20px;
  align-content: center;
}

/* OUR SERVICES */

#services {
  margin-bottom: 80px;
}
#services .service {
  text-align: center;
  padding-top: 40px;
}

.head {
  margin: 0 10%;
}

.head .subCtn {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 40%;

  background-color: white;

  box-shadow: 0 10px 25px rgb(205, 205, 205);

  border-radius: 8px;

  margin-top: 30px;
}

.subImgCtn {
  width: 100%;
  padding: 20px 20px;
}

.subImgCtn img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.subCtn .sub {
  width: 100%;
  height: 100%;


  margin: auto 0;

  line-height: 1.5;

  padding: 20px 20px;
}

.subCtn .sub h1 {
  font-size: 1.2rem;
  line-height: 1.5;
}

.subCtn .sub p {
  font-size: 1rem;
  line-height: 1.5;
}

.subCtn button {
  padding: 12px;
  background-color: #511abc;
  border-radius: 8px;
  border: none;
  color: white;
  margin-top: 20px;
}


/* GROWING YOUR BRAND WITH BRANDVOXX */

#growth {
  background-color: #f4f4f4;
}

.growing {
  margin: 0 10%;
}

#growth .head {
  text-align: center;
  padding-top: 40px;
}

#growth .deve {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  column-gap: 20px;
}


.deve h1 {
  color: indigo;
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 10px;
}

.deve p {
  line-height: 1.3;
  font-size: 17px;
}

.deve .con {
  background-color: white;
  height: 25vh;
  width: 100%;
  border-radius: 5px;
  border: 0.5px solid gainsboro;
  text-align: center;
}

.con .icon {
  width: 100%;
  height: 50%;

  display: flex;
  /* align-items: center; */
  justify-content: center;

}

.iconCtn {
  width: 50px;
  height: 50px;
  /* padding: 15px; */
  background-color: #511abc;
  border-radius: 50px;

  position: relative;
}

.iconCtn i {
  width: 50px;
  height: 100%;
  color: orange;

}

.con .icon .icon1 {
  position: absolute;
  top: 0;

  padding: 7px;
  border-radius: 20px;
  background-color: orange;
  color: white;
  font-size: 12px;
}

/* #contact .contact-card {
  display: flex;
  height: 40vh;
  width: 80rem;
  background-color: #f4f4f4;
} */
