* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  background-color: #511abc;
  padding: 20px 10%;
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width: auto;
}

nav .list {
  display: flex;
  align-items: center;
  list-style: none;
}

.list li {
  margin: 0 12px;
}

.list li a {
  text-decoration: none;
  color: white;
  transition: background-color 0.4s;
}

.list .active,
.list a:hover {
  color: orange;
}

.list .btn {
  padding: 8px 15px;
  background-color: orange;
  border-radius: 5px;
}

.list .btn:hover,
.list .active:hover {
  color: white;
  background-color: indigo;
}

.list .btn:active {
  opacity: 0.8;
}

/* HERO SECTION */

#Hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4% 10%;
  gap: 50px;
}

#Hero-section .left {
  position: relative;
  width: 100%;
}

.left h1 {
  font-size: 3rem;
  color: indigo;
}

.left p {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 20px;
}

.hero-text-ctn {
  position: relative;
}

.triangle {
  position: absolute;
  left: 0;
  top: 10px;
}

.left .lines {    
  position: absolute;
  right: 1px;
  top: 15px;
}

input[type="text"] {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
}
.input {
  position: relative;
  height: 80px;
  margin-top: 4%;
  border: 1px solid gainsboro;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgb(205, 205, 205);
}

.book-service {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 30%;
}

.book-service button {
  border-radius: 10px;
  border: none;
  height: 100%;
  width: 100%;
  background-color: #5f24d4;
  color: white;
}

.arrow {
  position: absolute; 
  right: -55px;
  top: -50px;
  height: 50px;
}

/* Right Image Section */
#Hero-section .right {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* KEY SERVICES */
#key-services {
  background-color: #f4f4f4;
  margin-top: 20px;
}

#key-services .key {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

#key-services .brands {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 10%;
  padding-bottom: 4%;
  gap: 10px;
}

.brand {
  border-radius: 0.6rem;
  height: auto;
  width: 300px;
  background-color: white;
  padding: 20px;
  border: 1px solid gainsboro;
  margin-top: 1%;
}

.brands .brand h1 {
  color: #260c58;
  padding: 13px 0;
  font-size: 1.2rem;
}

.brands .brand p {
  line-height: 1.5;
  font-size: 1rem;
}

.brands .brand i {
  background-color: orange;
  padding: 0.8em;
  border-radius: 0.8rem;
  color: whitesmoke;
}

/* WHY CHOOSE US */
#why-choose-us {
  margin-top: 20px;
}

#why {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10%;
  margin-top: 1%;
  margin-bottom: 3%;
  row-gap: 25px;
  column-gap: 30px;
  grid-auto-rows: auto;
}

#why-choose-us .key h1 {
  font-size: 1.8rem;
}

#why-choose-us .key {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.why {
  height: fit-content;
  /* background-color: green; */
}

#why h1 {
  color: indigo;
  font-size: 1.4rem;
}

#why p {
  color: rgb(77, 77, 77);
  font-size: 1rem;
  padding-top: 8px;
  line-height: 1.5;
}

.nested-img {
  grid-column: 2/3;
  grid-row: 1/3;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: brown; */
} 

.nested-img img {
  width: 90%;
}
/* WHAT OUR CLIENT */
#clients {
  background-color: #f4f4f4;
  margin-top: 20px;
}

#clients .client {
  text-align: center;
  padding-top: 40px;
}

.general {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}
.slide {
  background-color: white;
  line-height: 1.2;
  position: relative;
  color: indigo;
  width: 145px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  padding-left: 10px;
  padding-top: 80px;
  padding-right: 80px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 10px 25px rgb(205, 205, 205);
}

.slide img {
  position: absolute;
  top: 75px;
  right: 20px;
  height: 30px;
  width: 50px;
}

.slide1 .para {
  width: 220px;
  height: 100px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 60px;
  line-height: 1.4;
  color: rgb(77, 77, 77);
}

/* OUR SERVICES */

/* #services .service {
  text-align: center;
  padding-top: 40px;
}

.para {
  width: 220px;
  height: 100px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 60px;
  line-height: 1.4;
}

#services .head .sub h1 {
  color: indigo;
  font-size: 20px;
}

#services .head .sub .sub1 {
  padding-top: 50px;
  padding-top: 100px;
  width: 430px;
}

#services .head .sub .sub1 p {
  line-height: 1.4;
  padding-top: 12px;
  padding-bottom: 20px;
}

#services .head .sub {
  background-color: white;
  display: flex;
  width: 74%;
  height: 340px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 10px 25px rgb(205, 205, 205);
}

#services .head .sub button {
  border-radius: 10px;
  padding: 5px;
  height: 40px;
  width: 110px;
  margin-top: 5px;
  background-color: #511abc;
  color: white;
  border: none;
}

#services .head .sub img {
  height: 320px;
  width: 490px;
  padding-top: 10px;
  padding-bottom: 10px;
} */

/* GROWING YOUR BRAND WITH BRANDVOXX
#growth .head {
  text-align: center;
  padding-top: 40px;
}

#growth .deve {
  display: flex;
}

#growth .deve h1 {
  color: indigo;
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 10px;
}

#growth .deve p {
  line-height: 1.3;
  font-size: 17px;
}

#growth .deve .con {
  background-color: white;
  height: 285px;
  width: 205px;
  border-radius: 5px;
  border: 0.5px solid gainsboro;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-top: 10px;
}

#growth .deve .icon {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: #511abc;
  color: orange;
  padding-top: 10px;
  font-size: 25px;
  margin-left: 85px;
}

#growth .deve .icon1 {
  width: 22px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  padding-top: 3px;
  font-size: 12px;
  margin-left: 60px;
} */

/* #contact .contact-card {
  display: flex;
  height: 40vh;
  width: 80rem;
  background-color: #f4f4f4;
} */
