@media screen and (max-width: 768px) {
  /* this is for mobile phones */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    overflow-x: hidden;
  }
  .body {
    width: 50%;
  }

  .flex {
    flex-direction: column;
    justify-content: center;
  }

  .flex div {
    width: 80%;
    height: 30vh;
    margin: 3% auto;
  }
}

@media screen and (max-width: 280px) {
  /* this is for smaller screens and smart watches */
  .body {
    width: 90%;
  }

  .flex div {
    width: 100%;
    height: 25vh;
    margin: 5% auto;
  }
}

@media screen and (max-width: 1024px) {
  /* this  is for laptops */
  .body {
    width: 100%;
  }

  .flex div {
    width: 90%;
    height: 20vh;
    margin: 5% auto;
  }
}

@media screen and (min-width: 1440px) {
  /* this applies for larger screens and Larger monitors */
  .body {
    width: 80%;
  }

  .flex div {
    width: 70%;
    height: 15vh;
    margin: 5% auto;
  }
}
